{% extends 'not_allowed_page.html' %}


{% block 'page_title' %}
<div class="container">
  <div class="container">
    <h1 class="title">here you are </h1>
    <p class="subtitle">maybe you get lost</p>
  </div>
</div>
{% endblock %}

{% block 'content' %}
  <div class="container p-6">
    <div class="column is-4 is-offset-3">
      <div class="container">
        <h1 class="title">Ouupss..... 404</h1>
        <h1 class="title">you get lost agian</h1>
        <p class="subtitle">this page not found i think,
          plz go back or try later
        </p>
      </div>

    </div>
    <p class="control">
      <a class="button is-black" href="{% url 'view' %}">
        <span>go back to home</span>
      </a>
    </p>
  </div>
{% endblock %}
