{% extends  'base.html' %}


{% block 'page_title' %}
<div class="container">
  <div class="container">
    <h1 class="title"><strong>admin</strong> page</h1>
    <p class="subtitle">welcome to admin page </p>
  </div>
</div>
{% endblock %}



{% block 'content' %}
<div class="hero">
  <div class="field p-3 column is-offset-9">
    <a class="button is-medium is-white" type="" href=" {% url 'admin_view' 'doctors'  %} ">
      all doctors
    </a>
  </div>
    <h1 class="title">YOUR REQUESTS</h1>

  <table class="table tt">
  <thead class="thead-dark ">
    <tr>
      <th scope="col">username</th>
      <th scope="col">phone</th>
      <th scope="col">email</th>
      <th scope="col">comfirmation</th>
    </tr>
  </thead>
  <tbody>
    {% for x in smtg %}
    <tr>
      <td>{{x.username}}</td>
      <td>{{x.phone_num}}</td>
      <td>{{x.email}}</td>
      <td>
        <a  href="{% url 'get_adminn_pk' x.pk %}" class="button  tt is-black">send him email</a>
      </td>
    </tr>
    {% endfor%}

  </tbody>
</table>


</div>
{% endblock %}
